<section id="content">
  {{#each copy.projects}}
    <div
      class="project-container{{#if @first}} active{{/if}}"
      data-index="{{@index}}"
      data-img="./assets/images/{{{this.image}}}"
    >
      <h3 class="project-title">
        <a href="{{{this.link}}}" target="_blank">
          {{{this.title}}}
        </a>
      </h3>
      <div class="project-description">
        <p>{{{this.description}}}</p>
        <p class="project-role">Role: {{{this.role}}}</p>
        <p class="project-tech">Tech highlights: {{{this.tech}}}</p>
      </div>
    </div>
  {{/each}}

	{{> story/contact copy.contact}}
</section>